/*mobile*/
@media (min-width: 0px) and (max-width: 739px)
{
  
   .Profile_user{
    align-items: center;
    bottom: -150px;
    flex-direction: column;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
   }
   .Profile_user_avatar{
    height: 128px;
    width: 128px;
   }
   .Profile_name{
    font-size: 2.2rem; 
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 6px;
   }
   .index-module-row{
    margin-left: -8px;
    margin-right: -8px;
    }
    .index-module-row1
    {
        width: 100%;
        padding-left: 4px;
        padding-right: 4px;
    }
    .content-left{
        margin-top: 0px;
    }
    .Profile_inner {
        align-items: flex-start;
        border-bottom: 1px solid #d0d7de;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-bottom: 12px;
    }
    .img-project{
        width: 100%;
        height: 60%;
        margin-top: 20px;
    }
    .nav-mobile{
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 10%);
        margin-bottom: 20px;
        padding: 18px 14px;
        word-break: break-word;
        margin-top: 180px;
    }
    .index-module-row3{
        margin-left: -8px;
        margin-right: -8px;
    }
    .nav-mobile-list{
        display: flex;
        text-decoration: none;
        list-style: none;
        margin-left: 0px;
    }
    .nav-mobile-true
    {
        padding: 20px 20px;
    }
    }
    
/*tablet*/
@media (min-width:740px) and (max-width:1112px)
{
    .tab-bar
    {
        display: none;
    }
    .nav-mobile-list{
        display: none;
        margin-left:70px;
    }
}
@media (min-width:1113px)
{
    .index-module-row{
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-wrap: wrap;
    }
    .index-module-row1{
    width: 41.66667%;
    padding-left: 12px;
    padding-right: 12px;
    }
    .index-module-row2{
        width: 58.33333%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .tab-bar
    {
        display: none;
    }
    .nav-mobile-list{
        display: none;
    }
}