*{
    
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat',Arial,Helvetica,sans-serif;
    box-sizing: border-box;
}
section {
    display: block;
}
.app-navSlidebar{
    display: flex;
    min-height: 100vh;

}
.app-navSlidebarContent{
    flex: 1 1;
    max-width: 100%;
   
}
.index-module_wide1 
{
width: 100%;
max-width: 1224px;
margin: 0 auto;

}

.index-module_wide2
{
    padding: 0;
    margin: 0 auto;

 
}
.Profile_banner{
    background: top/cover no-repeat;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top:-66px;
    padding-top: 28%;
    position: relative;
    width: 100%;

}
/*user*/
.Profile_user
{
    align-items: flex-end;
    bottom: -70px;
    display: flex;
    left: 40px;
    position: absolute;

}
.Profile_user_avatar{
    background-color: #fff;
    border-radius: 50%;
    height: 168px;
    padding: 4px;
    width: 168px;
   
}
.Profile_avatar{
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

img{
    border-style:none ;
}
.Profile_name{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 16px;
    margin-left: 16px;
    text-align: center;
}

.Profile_container{
    margin-top: 90px;
    padding: 0 24px;
}
.box-wapper{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    padding: 18px 14px;
    word-break: break-word;
}
.box-title{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 0 8px;
}
.Profile_participation{
    align-items: flex-start;
    display: flex;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 15px;
}
.Profile_participation_content{
    display: flex;
}
.content-icon{
    color: #808990;
    margin-right: 8px;
    margin-top: 2px;
    text-align: center;
    width: 20px;
}
.Profile_highlight{
    font-weight: 600;
}
.Profile_inner {
    align-items: flex-start;
    border-bottom: 1px solid #d0d7de;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 12px;
}
.Profile_thumb{
    flex-shrink: 0;
    height: 128px;
    margin-right: 24px;
    width: 228px;
    outline: none;
    text-decoration: none;
}
.img-project{
    width: 70%;
    height: 60%;
    margin-top: 20px;
}
.font-product{
    font-size: 20px;
    padding: 30px;
    display: contents;
    display: flex;
}
.inner-twoclass{
   padding: 20px;
   font-size: 20px;
}